[Desktop Entry]
Encoding=UTF-8
Name=dwm
Comment=dynamic window manager
Exec=/usr/local/bin/startdwm
TryExec=dwm
Icon=dwm
Type=Application
X-LightDM-DesktopName=dwm
DesktopNames=dwm
Keywords=wm;windowmanager;window;manager;
